<!DOCTYPE html>
<html ng-app>
<head>
<title>OM Tokens (tokenizer 2.0)</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div ng-controller="TablesController">
     <!--Email:<input type="text" ng-model="newcontact"/> 
    <button ng-click="add()">Add</button> -->
    <h2>Tokens</h2>
 
    <table ng-repeat="table in tables" >
        <tr ng-repeat="row in table"> 
            <td ng-repeat="cell in row">
                <span ng-switch on="cell.hasOwnProperty('whcode')">
                    <span ng-switch-when="true">
                        <input type="text">
                    </span>
                    <span ng-switch-default>{{ cell }}</span>
                </span>
            </td>
        </tr>
    </table>
 
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="/static/main.js"></script>

</body>
</html>